@use "vendor/preflight.css";
@use "vendor/typography.css";
@use "vendor/torchlight.css";

/**
 * Lagrafo Core CSS
 */

body, html {
    scroll-behavior: smooth;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

#lagrafo-app {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    #sidebar {
        height: 100vh;
        width: 16rem;
        background-color: #eee;
        position: fixed;
        z-index: 10;

        #sidebar-header {
            height: 7rem;

            #sidebar-brand {
                height: 3rem;
                padding: 1rem;

            }

            #search-form {
                height: 4rem;
                padding: 1rem;

                #search {
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.25rem;
                    border: none;

                    &:focus {
                        outline: 4px rgba(0, 139, 139, 0.325) solid;

                    }

                    width: 100%;
                }

                #submit {
                    visibility: hidden;
                    position: absolute;
                    height: 2rem;
                    margin-left: 1.5rem;
                    background: darkcyan;
                    color: white;
                    padding: 0 0.5rem;
                    border-radius: 0.25rem;
                    transition: opacity 0.325s ease-in-out;
                    opacity: 0;
                }

                &:focus-within #submit {
                    visibility: visible;
                    opacity: 1;
                }

            }
        }

        #sidebar-navigation {
            height: calc(100vh - 11rem);
            padding: 1rem;

            border-top: #ddd 1px solid;
            border-bottom: #ddd 1px solid;

            .sidebar-navigation-item {
                transition: background-color 0.3s ease-in-out;
                margin-left: -1rem;
                padding-left: 0.5rem;

                > a {
                    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
                    display: block;
                }

                border-left: transparent solid 0.325rem;

                &:hover {
                    background-color: #ddd;
                    transition: background-color 0.2s ease-in-out;
                }

                &.active {
                    &:not(:hover) {
                        background-color: rgba(221, 221, 221, 0.5);
                    }

                    > a {
                        color: darkcyan;
                    }

                    border-left: darkcyan solid 0.325rem;
                }
            }
        }

        #sidebar-footer {
            height: 4rem;
            position: absolute;
            padding: 1rem;

            width: 100%;
            bottom: 0;
            left: 0;
            text-align: center;
            line-height: 2rem;
        }
    }

    #content {
        min-height: calc(100vh);
        width: calc(100vw - 16rem);
        background-color: #fff;
        position: absolute;
        left: 16rem;

        #document {
            padding: 3rem 4rem;
            max-width: 1000px;
            min-height: calc(100vh - 4rem);
        }

        #document-footer {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }

        #pagination {
            a {
                text-decoration: none;

                span.label {
                    text-decoration: underline;
                }

                &#previous {
                    margin-right: 0.25rem;
                }

                &#next {
                    margin-left: 0.25rem;
                }
            }
        }
    }

    #page-footer {
        height: 4rem;
        padding: 1rem;
        text-align: center;
        line-height: 2rem;
        width: calc(100vw - 16rem);
        background-color: whitesmoke;
        a {
            text-decoration: underline;
        }
    }
}

/**
 * Lagrafo Utilities
 */

.interactive-element {
    cursor: pointer;
}
