@use "vendor/preflight.css";
@use "vendor/typography.css";
@use "vendor/torchlight.css";

/**
 * Lagrafo Core CSS
 */

#lagrafo-app {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */

    #navigation-menu {
        height: 4rem;
        width: 100vw;
        background-color: #ddd;
        padding: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #search-form {
            display: flex;
            #search {
                margin: 0 0.75rem;
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
                border: none;
                &:focus {
                    outline: 4px rgba(0, 139, 139, 0.325) solid;
                }
            }
        }
    }

    #sidebar {
        height: calc(100vh - 4rem);
        width: 16rem;
        padding: 1rem;
        background-color: #eee;
        position: absolute;
        top: 4rem;

        #sidebar-navigation {
            height: calc(100vh - 8rem);
            .sidebar-navigation-item {
                transition: background-color 0.3s ease-in-out;
                padding: 0.5rem 0.5rem 0.5rem 0.25rem;
                margin-left: -1rem;
                > a {
                    padding-left: 0.5rem;
                    display: block;
                }
                border-left: transparent solid 0.325rem;
                &:hover {
                    background-color: #ddd;
                    transition: background-color 0.2s ease-in-out;
                }
                &.active {
                    &:not(:hover) {
                        background-color: rgba(221, 221, 221, 0.5);
                    }
                    > a {
                        color: darkcyan;
                    }
                    border-left: darkcyan solid 0.325rem;
                }
            }
        }

        #sidebar-footer {
            height: 4rem;
        }
    }

    // Overlay overflow is awesome and I'm going to use it.
    //noinspection CssInvalidPropertyValue
    #content {
        height: calc(100vh - 4rem);
        width: calc(100vw - 16rem);
        background-color: #fff;
        position: absolute;
        top: 4rem;
        left: 16rem;
        overflow-y: overlay;
        overflow-x: hidden;

        #document {
            padding: 3rem 4rem;
            max-width: 1000px;
            min-height: calc(100vh - 8rem);
        }

        #document-footer {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }

        #pagination {
            a {
                text-decoration: none;
                span.label {
                    text-decoration: underline;
                }
                &#previous {
                    margin-right: 0.25rem;
                }
                &#next {
                    margin-left: 0.25rem;
                }
            }
        }
    }

    #page-footer {
        height: 4rem;
        padding: 1rem;
        text-align: center;
        line-height: 1rem;
        width: calc(100vw - 16rem);
        background-color: #ccc;
    }
}

/**
 * Lagrafo Utilities
 */

.interactive-element {
    cursor: pointer;
}
