@use "vendor/preflight.css";

/**
 * Lagrafo Core CSS
 */

#lagrafo-app {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    #navigation-menu {
        height: 4rem;
        width: 100vw;
        background-color: #ccc;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    #sidebar {
        height: calc(100vh - 4rem);
        width: 16rem;
        padding: 1rem;
        background-color: #eee;
        position: absolute;
        top: 4rem;

        #sidebar-navigation {
            height: calc(100vh - 8rem);
        }

        #sidebar-footer {
            height: 4rem;
        }
    }

    #content {
        height: calc(100vh - 4rem);
        width: calc(100vw - 16rem);
        padding: 3rem 4rem;
        background-color: #fff;
        position: absolute;
        top: 4rem;
        left: 16rem;
        overflow-y: auto;
    }

    #page-footer {
        height: 4rem;
        padding: 1rem;
        text-align: center;
        line-height: 1rem;
        width: calc(100vw - 16rem);
        background-color: #ccc;
        position: absolute;
        bottom: 0;
        left: 16rem;
    }
}

/**
 * Lagrafo Utilities
 */

.interactive-element {
    cursor: pointer;
}
